$black: #000000;
$white:#FFFFFF;
$highlight:#EBF4FE;

$gray-900:#0B141F;
$gray-800:#343A40;
$gray-700:#495057;
$gray-600:#6C757D;
$gray-500:#ADB5BD;
$gray-400:#CED4DA;
$gray-300:#DEE2E6;
$gray-200:#E9ECEF;
$gray-100:#F7F9FB;


$blue-1000:#09082D;
$blue-800:#052C65;
$blue-700:#084298;
$blue-500:#0079EA;
$blue-400:#3D8BFD;
$blue-200:#9EC5FE;
$blue-100:#CFE2FF;

$indigo-800:#290661;
$indigo-700:#3D0A91;
$indigo-500:#6610F2;
$indigo-400:#8540F5;
$indigo-200:#C29FFA;
$indigo-100:#E0CFFC;

$purple-800:#2C1A4D;
$purple-700:#432874;
$purple-500:#6F42C1;
$purple-400:#8C68CD;
$purple-200:#C5B3E6;
$purple-100:#E2D9F3;

$pink-800:#561435;
$pink-700:#801F4F;
$pink-500:#D63384;
$pink-400:#DE5C9D;
$pink-200:#EFADCE;
$pink-100:#F7D6E6;

$red-800:#800800;
$red-700:#B20B00;
$red-500:#E72B20;
$red-400:#EC5950;
$red-200:#F3928C;
$red-100:#F6D5D3;

$maroon-800:#562424;
$maroon-700:#6D3636;
$maroon-500:#924444;
$maroon-400:#A94C4C;
$maroon-200:#C17171;
$maroon-100:#E8CACA;

$orange-800:#A37900;
$orange-700:#D59E00;
$orange-500:#FEC02F;
$orange-400:#FED980;
$orange-200:#FEDE95;
$orange-100:#FAF2D9;

$yellow-800:#664D03;
$yellow-700:#997404;
$yellow-500:#FFC107;
$yellow-400:#FFD65C;
$yellow-200:#FFE69C;
$yellow-100:#FFF3CD;

$green-800:#064D05;
$green-700:#0DAE0B;
$green-500:#64D063;
$green-400:#90D590;
$green-200:#B5E3B5;
$green-100:#DAF1DA;

$teal-800:#0D503C;
$teal-700:#13795B;
$teal-500:#20C997;
$teal-400:#4DD4AC;
$teal-200:#A6E9D5;
$teal-100:#D2F4EA;

$cyan-800:#055160;
$cyan-700:#087990;
$cyan-500:#0DCAF0;
$cyan-400:#3DD5F3;
$cyan-200:#9EEAF9;
$cyan-100:#CFF4FC;